* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
}

header {
  background-color: #bfbfbf;
  padding: 1rem;
}

input{
  height: 25px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  font-size: 2.4rem;
}

.component-input{
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li {
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

nav ul li:hover {
  background-color: #e0e0e0; 
}

.content-wrap {
  padding: 2rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

#tenScore {
  margin: 0 2vh;
}

#resultList{
  margin-top: 30px;
  padding: 10px;
  border: 1px solid black;
}

pre {
  margin-top: 5vh;
  padding-top: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid black;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: end;
  padding: 1rem;
  background-color: #f0f0f0;
}

@media (max-width: 1200px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 1rem;
  }

  nav ul {
    flex-direction: row;
    gap: 1rem;
  }

  .component-input{
    width: 300px;
  }
  * {
    font-size: 1.4rem;
  }

  header h1 {
    font-size: 2rem;
  }
}